@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,400&display=swap");

:root {
  --bgc-color: #1b598a;
  --btn-color: #8dacc5;
  --btn-hover: #769bb9;
  --page-1-sub-heading: #1b598a;
  --hero-color: #081b29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--bgc-color);

  color: #fff;
}

/* **************************** */
/* REUSABLE CLASSES */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}

p {
  padding: 20px 0;
  line-height: 1.7;
  font-size: 1.3rem;
}

main {
  width: 100%;
}

a {
  color: black;
}

.sub-heading {
  color: rgba(238, 238, 238, 0.582);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  /* border: 1px solid gray; */
  text-decoration: none;
  background-color: var(--btn-color);
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--btn-hover);
}

/* ******************************* */
/* NAVIGATION */

.tabs {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.377); */

  list-style: none;
  width: 97%;
  /* margin: 0 auto; */
}

/* .tab.active {
  background-color: #ccc;
} */

li {
  cursor: pointer;
  padding: 15px 15px;
  transition: all 0.5s ease-in-out;
}

li:hover {
  background-color: #bbcddc;
}

/* TAB  */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

/* ******************* */
/* HOME SECTION */
.hero-color {
  color: var(--hero-color);
}

.intro-secondary {
  display: none;
}

/* ****************** */
.bgc {
  color: #333;
  /* background-color: #fff; */
  background-color: #e8eef3;
  padding: 100px 20px;
}

.sub-heading-1 {
  color: var(--page-1-sub-heading);
}

/* ******************* */
/* NFT FOR DUMMIES  */

.card {
  /* width: 100%; */
  padding: 10px 0;
  position: relative;
}

.card img {
  width: 100%;
}

.nft-list {
  list-style: none;
  cursor: all-scroll;
}

.card-btn {
  width: 100%;
  bottom: 0;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  background-color: var(--btn-color);
  padding: 10px 0;
  border-bottom-right-radius: 10px;
}

/* ******************** */
.twitter-url {
  padding: 10px 0;
}

.icon-twitter {
  /* width: 100px; */
}

.twitter-handle {
  display: block;
  padding: 5px 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ********************* */

/* ********************* */
/* FOOTER */
footer {
  padding: 50px 20px;
}

@media screen and (min-width: 1000px) {
  /* ******************** */
  .main-heading {
    width: 90%;
  }

  .center {
    display: block;
  }

  .nft-list {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
    /* width: 50%; */
  }

  p {
    font-size: 1.5rem;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    padding: 100px 50px;
  }

  /* .hero-bgc {
    height: 100vh;

    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.582)),
      url(img/pepe-frog.jpg);
    background-size: cover;
    color: #fff;
  } */

  .hero-color {
    color: var(--btn-color);
  }

  /* TOOL */

  .tools-container {
    width: 70%;
    margin: 0 auto;
  }

  .card img {
    width: 50%;
  }

  .card-btn {
    width: 50%;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .bgc {
    color: #333;
    /* background-color: #fff; */
    background-color: #e8eef3;
    padding: 100px 260px;
  }

  /* NAVIGATION */
  .tabs {
    width: 80%;
    margin: 0 auto;
  }
}
